*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/src/digitalpixelworks.jks
/src/google-services.json

# Firebase configuration files
**/google-services.json
**/google-services.plist

# Local configuration files
gradle.properties
*/gradle.properties
